<nav class="row navbar navbar-toggleable-md navbar-light">
  <ol class="breadcrumb margin-rm">
    <li class="breadcrumb-item active">{{ 'page.stars.title' | translate }}</li>
  </ol>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead>
  <tr>
    <th># {{ 'page.stars.table.header.id' | translate }}</th>
    <th>{{ 'page.stars.table.header.actions' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let star of stars;">
    <th scope="row">{{ star.id }}</th>
    <td>acciones</td>
  </tr>
  </tbody>
</table>