<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">SOMO</span>
      </a>
    </div>

    <div class="header-actions">
      <clr-dropdown clrMenuPosition="bottom-right">
        <button class="nav-text" clrDropdownToggle>
          john.doe@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu>
          <a [routerLink]="['/dashboard/profile']" [routerLinkActive]="'active'"clrDropdownItem>{{ 'page.dashboard.menu.label.my_profile' | translate }}</a>
          <a (click)="onLogout()" clrDropdownItem>{{ 'page.dashboard.menu.label.logout' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>


  <div class="content-container">
    <div class="content-area padding-top-rm">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <label>{{ 'page.dashboard.menu.header.application' | translate }}</label>
          <ul class="nav-list">
            <!--<li><a class="nav-link" [routerLink]="['/dashboard/home']" [routerLinkActive]="'active'">{{ 'page.dashboard.menu.label.dashboard' | translate }}</a></li>-->
            <li><a class="nav-link" [routerLink]="['/dashboard/users']" [routerLinkActive]="'active'">{{ 'page.dashboard.menu.label.users' | translate }}</a></li>
            <li><a class="nav-link" [routerLink]="['/dashboard/stars']" [routerLinkActive]="'active'">{{ 'page.dashboard.menu.label.stars' | translate }}</a></li>
          </ul>
        </section>

        <section class="nav-group">
          <label>{{ 'page.dashboard.menu.header.application' | translate }}</label>
          <ul class="nav-list">
            <li><a class="nav-link" [routerLink]="['/dashboard/profile']" [routerLinkActive]="'active'">{{ 'page.dashboard.menu.label.my_profile' | translate }}</a></li>
            <li><a class="nav-link" [routerLink]="['/dashboard/organization']" [routerLinkActive]="'active'">{{ 'page.dashboard.menu.label.my_organization' | translate }}</a></li>
          </ul>
        </section>

        <section class="nav-group">
          <label>{{ 'page.dashboard.menu.header.help' | translate }}</label>
          <ul class="nav-list">
            <li><a class="nav-link" (click)="onAboutClick()">{{ 'page.dashboard.menu.label.about' | translate }}</a></li>
            <li><a class="nav-link" (click)="onContactClick()">{{ 'page.dashboard.menu.label.contact' | translate }}</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>

<about-modal #aboutModal></about-modal>
<contact-modal #contactModal></contact-modal>

